<div>
<form (ngSubmit)="buscarPokemon()" >
    <label for="nombrePokemon">Inserte el nombre del Pokemon </label>
    <div>
            <label>Inserte el nombre del Pokemon </label>
            <input id="nombrePokemon" type="text" [(ngModel)]="nombrePokemonInput" name="nombrePokemon"
                    placeholder="Ej. pikachu , charmander, bulbasaur" required />
    </div>
    <div>
    <button type="submit" [disabled]="cargando()"> {{ cargando() ? 'Escaneando...' : 'Buscar' }}</button>
    </div>
</form>
</div>
@if (mensajeError(); as mensaje){
    <p class="error">{{ mensajeError() }}</p>
}

@if(pokemon(); as poke){
    <div appResaltarTarjeta colorBorde="#0000FF" class="card-pokemon">
        <h3> {{ poke.name }} (#{{poke.id}}) </h3>
        <img [src]="poke.image"/>

        <p>
            Tipo
            <span class="badge_tipo" [ngStyle]="{
                'background-color'  : poke.type === 'fire' ? '#FF0000' :
                poke.type === 'water' ? '#0000FF' :
                poke.type === 'grass' ? '#008000' : '#757575'
            }">
                {{ poke.type }}
            </span>
        </p>
            <p> Exp. Base: <strong>{{ poke.baseExperience }}</strong> </p>
            <button class="btn-guardar" (click)="guardarEnEquipo()">
                Almacenar en Inventario
            </button>
    </div>
}